<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title ></title>
<style>

</style>
</head>
<body>

	

<div >
<section class="banner d-flex justify-content-center align-items-center text-center ">
<div class=" text-center ">
<h1>Smart Contact Manager</h1>
<p>Start collecting your contacts in very smarter way ,We provide
very efficient and smarter way of handling contacts</p>

<button class="btn btn-primary"> Get Start</button>

</div>
</section>
</div>





</body>
</html>